.container-page {
    background-color: beige;
    height: 500px;
    width: 500px;
}

.hecho {
    background-color: greenyellow;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-flex;
}
.sin-hacer{
    background-color: rgb(236, 75, 11);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-flex;
}

.done{
    text-decoration: line-through;
}

.tarea{
    display: inline-flex;
}