.button-login {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.button-login[disabled]{
    background-color: gray;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.logo {
    width: 200px;
    height: 200px;
}